/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of CSS Reset */

body {
	background-image:url("http://fc05.deviantart.net/fs71/i/2013/218/c/f/music_bass___wallpaper_1920x1080_by_tobiasermisch-d6gx0ac.png");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

a {
	text-decoration: none;
	color: #00cc99;
}

ul {
	padding-left:300px;
	position: relative;
	top: 100px;
}

li {

	font-size: 20px;
	background-color: #2B3D4F;
	height: 30px;
	width: 150px;
	border: 1px solid #00cc99;
	text-align: center;
	padding-top:10px;
	font-family: 'Boogaloo', cursive;
}

li:hover{
	background-color: #070B0F
}

h1{
        font-size: 55px;
	padding-top: 20px;
	text-align: center;
	font-family: 'Boogaloo', cursive;
	color: #00cc99;
}

#player{
	position:relative;
	float:right;
	top: -175px;
}

#container{
	width:1000px;
}
